<html ng-app='app-esrl' style="overflow-x: hidden;">
    <head>
        <script>
            function set_nosee(d) {
                document.getElementById('work').style.display = d;
            }

            function fexec(q) {
                myid = document.getElementById("form");
                myid.submit();
                return false;
            }
        </script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script>document.write('<base href="' + document.location + '" />');</script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.6/angular-resource.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.min.js"></script>

        <!-- angular boostrap toggle -->
        <link href="/bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.css" rel="stylesheet">
        <script src="/bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.js"></script>

        <script src="js/esrl.js"></script>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-controller="EsrlChildController">
        <div class="row gutter">
            <div class="col-xs-12">
                <h2 style="margin-top:0px;">Atmospheric Climatology from ESRL</h2>
            </div>
        </div>
        <form name="esrlForm">
            <fieldset ng-disabled="isLoading">
                <div class="row gutter">
                    <div class="col-xs-12">
                        <h3 style="margin-bottom:5px;margin-top:0px;">Section Plot</h3>
                        <div class="row" ng-if="section.filename">
                            <div class="col-xs-12">
                                <a href="#" ng-click="openLightboxModal(section.filename)"><img style='width:100%; padding: 0;'; src="{{section.filename}}"></a>
                            </div>
                        </div>
                        <div class="row" ng-if="section.filename">
                            <div class="col-xs-12">
                                <a ng-if="!section.input.field2" href="{{section.filename}}" download="{{section.input.field}}-{{section.input.time}}-{{section.input.press}}-lon{{section.input.lon}}.png">Download file</a>
                                <a ng-if="section.input.field2" href="{{section.filename}}" download="{{section.input.field}}-{{section.input.field2}}-{{section.input.time}}-{{section.input.press}}-lon{{section.input.lon}}.png">Download file</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="form-group">
                                    <label>Month</label>
                                    <select class="form-control" ng-model="section.input.time" ng-model-options="{debounce:500}">
                                        <option value="Jan">Jan</option>
                                        <option value="Feb">Feb</option>
                                        <option value="Mar">Mar</option>
                                        <option value="Apr">Apr</option>
                                        <option value="May">May</option>
                                        <option value="Jun">Jun</option>
                                        <option value="Jul">Jul</option>
                                        <option value="Aug">Aug</option>
                                        <option value="Sep">Sep</option>
                                        <option value="Oct">Oct</option>
                                        <option value="Nov">Nov</option>
                                        <option value="Dec">Dec</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label>Min Pressure</label>
                                    <input type='number' min=0 max=1000 step=1 class="form-control" ng-model="section.input.press" ng-model-options="{debounce:500}">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label>Lon</label>
                                    <input ng-model="section.input.lon" ng-model-options="{debounce:500}" class="form-control" type="number" min="-90" max="90" step="1">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label>Log Scale</label>
                                    <toggle type='checkbox' ng-model="section.input.logScale"></toggle>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="form-group">
                                    <label>Field</label>
                                    <select class="form-control" name="field" id="field" ng-model="section.input.field" ng-model-options="{debounce:500}">
                                        <option selected value="pottmp">Potential Temperature</option>
                                        <option value="hgt">Geopotential Height</option>
                                        <option value="uwnd">U-wind</option>
                                        <option value="vwnd">V-wind</option>
                                        <option value="omega">Omega</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label>Contour Density</label>
                                    <input ng-model="section.input.contour" ng-model-options="{debounce:500}" class="form-control" type="number" min="1" max="100">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label>Min</label>
                                    <input ng-model="section.input.min" ng-model-options="{debounce:500}" class="form-control" type="number">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label>Max</label>
                                    <input ng-model="section.input.max" ng-model-options="{debounce:500}" class="form-control" type="number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="form-group">
                                    <label>Second Field</label>
                                    <select class="form-control" name="field2" id="field2" ng-model="section.input.field2" ng-model-options="{debounce:500}">
                                        <option selected value="pottmp">Potential Temperature</option>
                                        <option value="hgt">Geopotential Height</option>
                                        <option value="uwnd">U-wind</option>
                                        <option value="vwnd">V-wind</option>
                                        <option value="omega">Omega</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-3" ng-show="section.input.field2">
                                <div class="form-group">
                                    <label>Contour Density</label>
                                    <input ng-model="section.input.contour2" ng-model-options="{debounce:500}" class="form-control" type="number" min="1" max="100">
                                </div>
                            </div>
                            <div class="col-xs-2" ng-show="section.input.field2">
                                <div class="form-group">
                                    <label>Min</label>
                                    <input ng-model="section.input.min2" ng-model-options="{debounce:500}" class="form-control" type="number">
                                </div>
                            </div>
                            <div class="col-xs-2" ng-show="section.input.field2">
                                <div class="form-group">
                                    <label>Max</label>
                                    <input ng-model="section.input.max2" ng-model-options="{debounce:500}" class="form-control" type="number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                <button class="form-control btn btn-primary" ng-click="section.submit()" ng-disabled="isLoading">Show Section <span ng-show="isLoading" class="fa fa-spin fa-spinner"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <form id="sectionForm" method="POST" name="sectionForm">
            <fieldset ng-disabled="isLoading" >
                <div class="row gutter">
                    <div class="col-xs-12">
                        <h3 style="margin-bottom:5px;margin-top:0px;">Globe Plot</h3>
                    </div>
                </div>
                <div class="row gutter" ng-if="esrl.flags.movie" style="margin-bottom: 10px;">
                    <div class="col-xs-12">
                        <h4>Movie Controls</h4>
                    </div>
                    <div class="col-xs-4">
                        <div class="input-group" ng-show='esrl.flags.movie'>
                            <div class="input-group-addon">FPS</div>
                            <input class='form-control' type="number" min="0.5" max="5" step="0.5" ng-model="esrl.flags.delay" ng-model-options='{debounce: 500}' ng-change="setDelay()">
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div ng-show='esrl.flags.movie' class="btn btn-default" ng-click="toggleMoviePause()">
                            <span ng-show='esrl.flags.moviePlay' class="fa fa-pause"></span>
                            <span ng-show='!esrl.flags.moviePlay' class="fa fa-play"></span> (Month: {{loop}})
                        </div>

                        <div ng-show='esrl.flags.movie && !esrl.flags.moviePlay' class="btn btn-default" ng-click="stepBack()">
                            <span class="fa fa-step-backward"></span>
                        </div>

                        <div ng-show='esrl.flags.movie && !esrl.flags.moviePlay' class="btn btn-default" ng-click="stepForward()">
                            <span class="fa fa-step-forward"></span>
                        </div>
                    </div>
                </div>
                <div class="row gutter">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label>Time Range</label>
                            <select class="form-control" name="time" id="time" ng-model="esrl.input.time" ng-model-options="{debounce:500}">
                                <option value="year" selected>Year</option>
                                <option value="Jan">Jan</option>
                                <option value="Feb">Feb</option>
                                <option value="Mar">Mar</option>
                                <option value="Apr">Apr</option>
                                <option value="May">May</option>
                                <option value="Jun">Jun</option>
                                <option value="Jul">Jul</option>
                                <option value="Aug">Aug</option>
                                <option value="Sep">Sep</option>
                                <option value="Oct">Oct</option>
                                <option value="Nov">Nov</option>
                                <option value="Dec">Dec</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label>Levels</label>
                            <select class="form-control" name="press" id="press" ng-model="esrl.input.press" ng-model-options="{debounce:500}">
                                <option selected value="1000">1000</option>
                                <option value="925">925</option>
                                <option value="850">850</option>
                                <option value="700">700</option>
                                <option value="600">600</option>
                                <option value="500">500</option>
                                <option value="400">400</option>
                                <option value="300">300</option>
                                <option value="250">250</option>
                                <option value="200">200</option>
                                <option value="150">150</option>
                                <option value="100">100</option>
                                <option value="70">70</option>
                                <option value="50">50</option>
                                <option value="30">30</option>
                                <option value="20">20</option>
                                <option value="10">10</option>
                                <option option="vertical movie">vertical movie</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>Field</label>
                            <select class="form-control" name="field" id="field" ng-model="esrl.input.field" ng-model-options="{debounce:500}">
                                <option selected value="pottmp">Potential Temperature</option>
                                <option value="hgt">Geopotential Height</option>
                                <option value="uwnd">U-wind</option>
                                <option value="vwnd">V-wind</option>
                                <option value="omega">Omega</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <label>Lat</label>
                        <input class="form-control" ng-model="esrl.input.lat" ng-model-options="{debounce:500}" type="number" min="-90" max="90" required>
                    </div>
                    <div class="col-xs-2">
                        <label>Lon</label>
                        <input class="form-control" ng-model="esrl.input.lon" ng-model-options="{debounce:500}" type="number" min="-180" max="180" required>
                    </div>
                </div>
                <!---- GLOBE SHOW CONTOUR ---->
                <div class="row gutter">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label style="clear:both;">Contour?</label>
                            <toggle type='checkbox' ng-model="esrl.input.contour"></toggle>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label>Density</label>
                            <input ng-model="esrl.input.contourDensity" ng-model-options="{debounce:500}" class="form-control" type="number" min="1" max="100">
                        </div>
                    </div>
                </div>
                <div class="row gutter">
                    <div class="col-xs-3">
                        <button class='form-control btn btn-primary' ng-click="esrl.submit()" ng-disabled="myForm.$invalid || isLoading">Show on Globe <span ng-show="isLoading" class="fa fa-spin fa-spinner"></span></button>
                    </div>
                </div>
            </fieldset>
        </form>
        <script src="js/main.js"></script>
    </body>
</html>
