<html ng-app='app-esrl' style="overflow-x: hidden;">
    <head>
        <script>
            function set_nosee(d) {
                document.getElementById('work').style.display = d;
            }

            function fexec(q) {
                myid = document.getElementById("form");
                myid.submit();
                return false;
            }
        </script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="css/main.css">
        <script>document.write('<base href="' + document.location + '" />');</script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.6/angular-resource.min.js"></script>
        <script src="js/esrl.js"></script>
    </head>
    <body ng-controller="EsrlChildController">
        <form id="myForm" method="POST" name="myForm">
            <div class="row gutter">
                <div class="col-xs-12">
                    <h3>Atmospheric Climatology from ESRL</h3>
                </div>
            </div>
            <div class="row gutter">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Time Range for movie</label>
                        <select class="form-control" name="time" id="time" ng-model="esrl.input.time">
                            <option value="year" selected>Year</option>
                            <option value="Jan">Jan</option>
                            <option value="Feb">Feb</option>
                            <option value="Mar">Mar</option>
                            <option value="Apr">Apr</option>
                            <option value="May">May</option>
                            <option value="Jun">Jun</option>
                            <option value="Jul">Jul</option>
                            <option value="Aug">Aug</option>
                            <option value="Sep">Sep</option>
                            <option value="Oct">Oct</option>
                            <option value="Nov">Nov</option>
                            <option value="Dec">Dec</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Pressure Levels</label>
                        <select class="form-control" name="press" id="press" ng-model="esrl.input.press">
                            <option selected value="1000">1000</option>
                            <option value="925">925</option>
                            <option value="850">850</option>
                            <option value="700">700</option>
                            <option value="600">600</option>
                            <option value="500">500</option>
                            <option value="400">400</option>
                            <option value="300">300</option>
                            <option value="250">250</option>
                            <option value="200">200</option>
                            <option value="150">150</option>
                            <option value="100">100</option>
                            <option value="70">70</option>
                            <option value="50">50</option>
                            <option value="30">30</option>
                            <option value="20">20</option>
                            <option value="10">10</option>
                            <option option="vertical movie">vertical movie</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row gutter">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Field</label>
                        <select class="form-control" name="field" id="field" ng-model="esrl.input.field">
                            <option selected value="pottmp">Potential Temperature</option>
                            <option value="hgt">Geopotential Height</option>
                            <option value="uwnd">U-wind</option>
                            <option value="vwnd">V-wind</option>
                            <option value="omega">Omega</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row gutter">
                <div class="col-xs-12">
                    <h4>Center At</h4>
                </div>
            </div>
            <div class="row gutter margin-bottom-05em">
                <div class="form-group">
                    <div class="col-xs-6">
                        <label>Lat</label>
                        <input class="form-control" ng-model="esrl.input.lat" type="number" min="-90" max="90" required>
                    </div>
                    <div class="col-xs-6">
                        <label>Long</label>
                        <input class="form-control" ng-model="esrl.input.lon" type="number" min="-180" max="180" required>
                    </div>
                </div>
            </div>
            <div class="row gutter">
                <div class="col-xs-8">
                    <button class='btn btn-default' ng-click="esrl.submit()" ng-disabled="myForm.$invalid || isLoading">Show Now <span ng-show="isLoading" class="fa fa-spin fa-spinner"></span></button>
                    <div ng-show='esrl.flags.movie' class="btn btn-default" ng-click="toggleMoviePause()">
                        <span ng-show='esrl.flags.moviePlay' class="fa fa-pause"></span>
                        <span ng-show='!esrl.flags.moviePlay' class="fa fa-play"></span> (Month: {{loop}})
                    </div>

                    <div ng-show='esrl.flags.movie && !esrl.flags.moviePlay' class="btn btn-default" ng-click="stepBack()">
                        <span class="fa fa-step-backward"></span>
                    </div>

                    <div ng-show='esrl.flags.movie && !esrl.flags.moviePlay' class="btn btn-default" ng-click="stepForward()">
                        <span class="fa fa-step-forward"></span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="input-group" ng-show='esrl.flags.movie'>
                        <input class='form-control' type="number" min="200" max="2000" step="100" ng-model="esrl.flags.delay" ng-change="setDelay()">
                        <div class="input-group-addon">ms</div>
                    </div>
                </div>
            </div>
        </form>

        <form>
            <div class="row gutter">
                <div class="col-xs-12">
                    <h3>Section Plots</h3>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Month</label>
                                <select class="form-control" ng-model="section.input.time">
                                    <option value="Jan">Jan</option>
                                    <option value="Feb">Feb</option>
                                    <option value="Mar">Mar</option>
                                    <option value="Apr">Apr</option>
                                    <option value="May">May</option>
                                    <option value="Jun">Jun</option>
                                    <option value="Jul">Jul</option>
                                    <option value="Aug">Aug</option>
                                    <option value="Sep">Sep</option>
                                    <option value="Oct">Oct</option>
                                    <option value="Nov">Nov</option>
                                    <option value="Dec">Dec</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Min Pressure</label>
                                <input type='number' min=0 max=1000 step=1 class="form-control" ng-model="section.input.press">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Longitude</label>
                                <input ng-model="section.input.lon" class="form-control" type="number" min="-90" max="90" step="1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label>Field</label>
                                <select class="form-control" name="field" id="field" ng-model="section.input.field">
                                    <option selected value="pottmp">Potential Temperature</option>
                                    <option value="hgt">Geopotential Height</option>
                                    <option value="uwnd">U-wind</option>
                                    <option value="vwnd">V-wind</option>
                                    <option value="omega">Omega</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Contour Spacing</label>
                                <input ng-model="section.input.contour" class="form-control" type="number" min="1" max="100">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="form-control" ng-click="section.submit()" ng-disabled="isLoading">Show Section <span ng-show="isLoading" class="fa fa-spin fa-spinner"></span></button>
                        </div>
                    </div>
                    <div class="row" ng-if="section.filename">
                        <div class="col-xs-12">
                            <img style='width:100%; padding:20px;'; src="{{section.filename}}">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script src="js/main.js"></script>
    </body>
</html>
