<html ng-app='globeControlsWidget' style="overflow-x: hidden;">
    <head>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.6/angular-resource.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.min.js"></script>
        <script src="/js/Resources/esrl.js"></script>
        <script src="/js/Resources/defaults.js"></script>
        <script src="/widgets/globe-controls.js"></script>
    </head>

    <body class="iframe globe-controls" ng-controller="GlobeControlsWidgetController">
        <form name="esrlForm">
            <fieldset ng-disabled="isLoading">
                <div class="row gutter-sm">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label>Field</label>
                            <select class="form-control sm" name="field" id="field" ng-model="esrl.input.field" ng-model-options="{debounce:500}">
                                <option value='{{key}}' ng-repeat="(key, val) in data.fields">{{val}}</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="form-group">
                            <label>Time</label>
                            <select class="form-control sm" name="time" id="time" ng-options="val as val for val in data.timeDropdown" ng-model="esrl.input.time"></select>

                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="form-group">
                            <label>Level</label>
                            <select class="form-control sm" name="press" id="press"
                                    ng-model="esrl.input.press"
                                    ng-options="level as level for level in data.levels"
                                    ng-model-options="{debounce:500}">
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-3" ng-show='esrl.flags.movie'>
                        <div class="form-group multiple-inline">
                            <label>Movie Controls</label>
                            <div class="input-group pull-left margin-right-5px" ng-show='esrl.flags.movie' style="width: 50%;">
                                <select class='form-control sm' ng-model="esrl.flags.delay" ng-model-options='{debounce: 500}' ng-change="setDelay()">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <div class="input-group-addon background-primary">FPS</div>
                            </div>
                            <span ng-show='esrl.flags.movie' class="btn btn-primary" ng-click="toggleMoviePause()">
                                <span ng-show='esrl.flags.moviePlay' class="fa fa-pause"></span>
                                <span ng-show='!esrl.flags.moviePlay' class="fa fa-play"></span>
                                <span class="movie-month-text">Mo: {{loop}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label>Time Step</label>
                            <div>
                            <span class="btn btn-primary" ng-click="stepBack()">
                                <span class="fa fa-step-backward"></span>
                            </span>
                                <span class="btn btn-primary" ng-click="stepForward()">
                                <span class="fa fa-step-forward"></span>
                            </span>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-1">
                        <div class="form-group">
                            <label class="block">Setup</label>
                            <button type='button' class="btn btn-default" ng-click="globeSetup()"><span class="fa fa-gear"></span></button>
                        </div>
                        <div class="form-group">
                            <label>Contour</label>
                            <input type="number" min="0.001" ng-model="esrl.input.contourStep" class="form-control sm" ng-model-options="{debounce: 500}" required>
                            <span ng-if='isLoading' class="fa fa-spinner fa-spin fa-2x" style="position: absolute; right: -28px; top: 22px; color: lightgray;"></span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>